@font-face {
	font-family: BrownStd;
	src: url(/assets/fonts/BrownStd-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: BrownStd;
	src: url(/assets/fonts/BrownStd-Bold.woff2) format("woff2");
	font-weight: 700;
	font-style: normal
}

:root {
	--color-white: hsla(0, 0%, 100%, 1);
	--color-black: hsla(215, 27%, 19%, 1);
	--border-radius: 6px;
	--page-max-width: 666px;
	--md: 768px;
	--lg: 960px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--brightness: 0.81;
		--bg-primary: var(--color-black);
		--bg-inverted: hsla(35, 12%, 81%, 1);
		--bg-secondary: hsla(215, 21%, 23%, 1);
		--bg-tertiary: hsla(215, 18%, 27%, 1);
		--txt-primary: hsla(180, 3%, 76%, 1);
		--txt-secondary: hsla(180, 3%, 72%, 1);
		--txt-tertiary: hsla(180, 3%, 60%, 1);
		--txt-inverted: hsl(215, 27%, 19%);
		--border: var(--bg-tertiary);
		--shadow: hsla(0, 0%, 0%, 0.81);
		--color-orange: hsla(39, 97%, 62%, 1);
		--color-blue: hsla(216, 70%, 62%, 1);
		--color-red: hsla(333, 81%, 54%, 1);
		--color-purple: hsla(257, 58%, 67%, 1);
		--color-danger: hsl(0, 88%, 41%);
		--color-success: hsl(161, 34%, 55%);
		--link: hsla(216, 70%, 81%, 1);
		--link_hover: hsla(216, 70%, 93%, 1);
		--gradient: linear-gradient(hsl(215 27% 18% / .9),hsl(215 27% 18% / .81),var(--bg-primary));
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--brightness: 1;
		--bg-primary: hsla(38, 11%, 97%, 1);
		--bg-inverted: hsl(215, 21%, 23%);
		--bg-secondary: hsla(38, 11%, 93%, 1);
		--bg-tertiary: hsla(38, 11%, 90%, 1);
		--txt-primary: hsl(215, 21%, 23%);
		--txt-secondary: hsl(215, 21%, 45%);
		--txt-tertiary: hsl(215, 21%, 54%);
		--txt-inverted: hsl(38, 11%, 90%);
		--border: var(--bg-tertiary);
		--shadow: hsla(0, 0%, 0%, 0.36);
		--color-orange: hsla(39, 97%, 62%, 1);
		--color-blue: hsla(216, 70%, 62%, 1);
		--color-red: hsla(333, 81%, 45%, 1);
		--color-purple: hsla(257, 58%, 67%, 1);
		--color-danger: hsl(0, 88%, 41%);
		--color-success: hsl(161, 34%, 55%);
		--link: hsla(216, 54%, 36%, 1);
		--link_hover: hsla(216, 97%, 36%, 1);
		--gradient: linear-gradient(hsla(0,0%,100%,.72),hsla(0,0%,100%,.6),var(--bg-primary));
	}
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	text-rendering: geometricPrecision;
	font-family: BrownStd, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	background: var(--bg-primary);
	color: var(--txt-primary);
	height: 100%;
	position: relative;
}

.bg-gradient {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: var(--gradient);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

/* This will render section elements when they come into view instead of at paint */
[id^="section--"] {
	/* border: 10px solid red; */
	/* content-visibility: auto; */
}

@media screen and (min-width: 1025px) {
	.content-wrapper {
		width: 1024px;
		max-width: 1024px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
}